body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.carousel-description {
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 40px;
  width: 300px;
  margin: auto;
  text-align: center;
  overflow: hidden;
}

.carousel-description > div {
  transform: translateX(-100px);
}